@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";


* {
  box-sizing: border-box;
  list-style: disc;
}

body, .App, #root, html {
  height: 100%;
  font-family: 'Sora', Arial, sans-serif;
}

div.MuiBox-root {
  height: 100%;
  padding-bottom: 70px;
}